In [1]:
import pandas as pd
import numpy as np
import os
from env import get_connection
from sklearn.model_selection import train_test_split

# acquire data

Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [2]:
def new_zillow_data():
    url = get_connection('zillow')
    query = '''
           SELECT
           bedroomcnt as bedroom,
           bathroomcnt as bathroom,
           calculatedfinishedsquarefeet as squarefeet,
           taxvaluedollarcnt as tax_value,
           yearbuilt as builtin,
           taxamount as taxamount,
           fips
           FROM
           propertylandusetype
           join properties_2017 on propertylandusetype.propertylandusetypeid = properties_2017.propertylandusetypeid
                    and properties_2017.propertylandusetypeid = 261
           '''
    return pd.read_sql(query, url)

In [6]:
def get_zillow_data(filename = 'zillow.csv'):
    if os.path.exists(filename):
        df = pd.read_csv(filename, index_col =0)
        print('Found csv')
        return df
    else:
        df = new_zillow_data()
        df.to_csv(filename)
        print('Creating CSV')
        return df

In [7]:
df = get_zillow_data()

Found csv

In [8]:
df.shape

(1871335, 7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1871335 entries, 0 to 1871334
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   bedroom     float64
 1   bathroom    float64
 2   squarefeet  float64
 3   tax_value   float64
 4   builtin     float64
 5   taxamount   float64
 6   fips        float64
dtypes: float64(7)
memory usage: 114.2 MB

In [10]:
df.head()

   bedroom  bathroom  squarefeet  tax_value  builtin  taxamount    fips
0      0.0       0.0         NaN    27516.0      NaN        NaN  6037.0
1      0.0       0.0         NaN       10.0      NaN        NaN  6037.0
2      0.0       0.0         NaN       10.0      NaN        NaN  6037.0
3      0.0       0.0         NaN     2108.0      NaN     174.21  6037.0
4      4.0       2.0      3633.0   296425.0   2005.0    6941.39  6037.0

In [11]:
df.isnull().sum()

bedroom         11
bathroom        11
squarefeet    7315
tax_value      426
builtin       8066
taxamount     3863
fips             0
dtype: int64

- It is float on every column
- tax_value : target variable

In [14]:
df = df.dropna()